.form{
  display: flex;
  flex-direction:column;
  background: white;
  width: 300px;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  &-input{
    width: 250px;
    border: 1px solid black;
    margin: 15px;
    border-radius: 5px;
    padding: 3px;
  }

  &-btn{
    border: none;
    outline: none;
    background: rgba(112, 112, 209, 0.719);
    width: 250px;
    padding: 5 10px;
    margin: 15px 0;
    cursor: pointer;
  }

}

.red-text{
  color: red;
}

.show-pass{
  cursor: pointer;
}
